* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-block: min(5vh, 20rem);
}

.title, a ,a:visited{
  padding-block: min(5vh, 20rem);
  font-size: 3rem;
  color: rgb(233, 119, 119);
  text-decoration: none;
}

.main-content {
  min-height: 65vh;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: beige;
}
.container {
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  padding: 1em;
  border: 1px solid rgb(0, 0, 0, 0.25);

}

.columns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  border: 1px solid rgb(0, 0, 0, 0.25);
}

.columns > * {
  flex-basis: calc(calc(35em - 100%) * 999);
  flex-grow: 1;
}

.another-section {
  background: white;
  padding: 1em;
  flex-grow: 0.3;

}